@-webkit-keyframes up-down
  0%
    bottom: 60px

  50%
    bottom: 40px

  100%
    bottom: 60px

@-moz-keyframes up-down
  0%
    bottom: 60px

  50%
    bottom: 40px

  100%
    bottom: 60px

@keyframes up-down
  0%
    bottom: 60px

  50%
    bottom: 40px

  100%
    bottom: 60px


#home
  width: 100%
  position: relative

  #slogan
    position: absolute
    top: 50%
    left: 50%
    text-align: center

    .logo
      margin: 0 auto

  #show-more
    position: absolute
    left: 50%
    bottom: 10px
    width: 40px
    margin-left: -20px
    -webkit-animation: up-down 1s infinite
    -moz-animation: up-down 1s infinite
    animation: up-down 1s infinite

    i
      font-size: 60px
      color: cs-brackets - 30
