// Menu

#menu
  background: bkg-menu
  border-bottom: 1px solid bkg-menu - 30
  top: 0px
  width: 100%
  height auto
  z-index: 10
  height: 80px

  .menus
    margin: 0 auto
    overflow: hidden

    .go-home
      color: white
      font-weight: bold
      font-size: 70px
      position: absolute
      left: 50%
      font-family: "Rokkitt"
      margin-left: -76px
      text-decoration: none

    .show-menu
      position: absolute
      right: 2%
      line-height: 2.6
      font-size: 30px
      padding: 0 3%
      color: bkg-menu + 100

    .link
      float: left
      padding: 14px 14px 14px 0px
      font-size: 16px
      text-decoration: none
      color: bkg-menu + 100
      font-weight: bold

      &:hover
        color: white

    .socials
      float: right

      a
        height: 50px
        float: right
        margin: 15px 0
        text-align: center
        line-height: 4.2
        color: bkg-menu + 100

        &:hover
          color: white

        i
          font-size: 25px
