// Menu

#menu
  background: bkg-menu
  border-bottom: 1px solid bkg-menu - 30

  .menus
    margin: 0 auto
    overflow: hidden

    .show-menu
      position: absolute
      right: 2%
      line-height: 2.6
      font-size: 30px
      padding: 0 3%

    .link
      float: left
      padding: 14px 14px 14px 0px
      font-size: 16px
      text-decoration: none

    .socials
      float: right

      a
        height: 50px
        float: right
        margin: 15px 0
        text-align: center
        line-height: 4.2

        i
          font-size: 25px
