//
// config/responsive_large
// --------------------------------------------------


@media screen and (min-width: 1200px)
  grid_generator(columns, gutter)
  grid_offset(columns, gutter)
  grid_centered(columns, gutter)