//
// config/responsive_large
// --------------------------------------------------

@media screen and (max-width: 767px)
  grid_generator()

  #home
    #slogan
      width: 230px
      height: 230px
      margin-top: -115px
      margin-left: -115px

      .logo
        width: 230px
        height: 104px

  #menu
    height: 80px

    .menus
      width: 90%

      .show-menu
        display: block

      .link
        width: 100%
        margin-top: 81px
        text-align: center
        border-top: 1px solid bkg-menu + 50
        display: none

      .socials
        width: 80%
        margin: 0 10%
        display: none

        a
          width: 33.333333%
