#calendar
  width: 230px
  position: relative
  background-color: bkg-calendar
  border: 1px solid #ddd
  padding: 3px 0 5px
  margin-top: 20px
  box-shadow: 5px 6px 8px #ddd;
  
#calendar_head,
#calendar_body
  width: 100%
  display: table
  position: relative
  
#calendar_head
  border-bottom: 1px solid #ddd
  padding-bottom: 3px
  .prev, .next
    width: 0px
    height: 0px
    background: alert
    float: left
    &:hover
      cursor: pointer
  .prev
    margin: 5px 10px
    border-top: 10px solid bkg-calendar
    border-right: 10px solid next-prev
    border-bottom: 10px solid bkg-calendar
  .next
    margin: -12px 10px 5px
    border-top: 10px solid bkg-calendar
    border-left: 10px solid next-prev
    border-bottom: 10px solid bkg-calendar
  
  .month, .year
    width: 170px
    float: left
    font-size: 14px
    padding: 1px 0 0
    text-align: center
    
  .year
    font-size: 11px
    padding: 0
    
#calendar_body
  p, a
    width: (230/7)px
    float: left
    text-align: right
    color: next-prev
    box-sizing: border-box
    padding: 5px 8px 0
    
  .days
    text-align: center
  
  .no-recent
    color: #c4c4c4
  .recent-day
    border: 1px solid #bbb9b9
    margin: -1px 0