//
// functions/grid
// --------------------------------------------------


width_column(num, size, gutter)
  return (num * size) + ((num - 1) * gutter)

grid_size(column, gutter, max_cols)
  return (column * max_cols) + (gutter * max_cols)

fluid_width_column(num, size, gutter, max_cols = max-cols)
  col_width = width_column(num, size, gutter)
  sizer = grid_size(size, gutter, max_cols)

  return ((col_width / sizer) * 100)%

gutter_columns(column, gutter, max_cols)
  return (((gutter / 2) / grid_size(column, gutter, max_cols)) * 100)%

numbers(number)
  n = (cero one two three four five six seven eight nine ten eleven twelve thirteen fourteen fifteen sixteen seventeen eighteen nineteen twenty twenty-one twenty-two twenty-three twenty-four twenty-five twenty-six twenty-seven twenty-eight twenty-nine thirty thirty-one thirty-two thirty-three thirty-four thirty-five thirty-six thirty-seven thirty-eight thirty-nine forty)
  return n[number]